html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  padding: 0 20px;
}

.header {
  background-color: #ffffff;
}
.header__inner {
  min-height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Скрол*/
.main__menu {
}

.scrool {
  display: block;
  width: 1000px;
  height: 100px;
  overflow-x: scroll;
  white-space: nowrap;
}
.scrool__button {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
}
